.bptcfedd-field{
	width: 50%;
	display: flex;
	margin: 15px 0;
}
.bptcfedd-field label{
	width: 40%;
}
.bptcfedd-field select{
	width: 60%;
}
input[type="checkbox"].bptcfedd-simple-checkbox{
	margin: 0;
}
.bptcfedd-shortcode-wrap{
  display: inline-block;
}
.bptcfedd-shortcode-copy-wrap{
  float: right;
}

/* tab css start */

.bptcfedd-tabs {
  width: 70%;
  background-color: #dcdcde;
  border-radius: 5px 5px 5px 5px;
  margin-top: 10px;
  box-shadow: 1px 0px 8px -2px rgb(0 0 0 / 46%);
}
ul#bptcfedd-tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
ul#bptcfedd-tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 8px 10px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  margin-bottom: 0;
}
ul#bptcfedd-tabs-nav li:hover,
ul#bptcfedd-tabs-nav li.active {
  background-color: #08E;
}
ul#bptcfedd-tabs-nav li:hover > a,
ul#bptcfedd-tabs-nav li.active > a {
  color: #fff;
}
#bptcfedd-tabs-nav li a {
  text-decoration: none;
  color: #363636;
}
.bptcfedd-tab-content {
  padding: 10px;
  border: 5px solid #f6f7f7;
  background-color: #f6f7f7;
}

/* tab css over */

/* settings css start */

.bptcfedd-sub-heading{
  font-size: 20px;
  margin: 0px;
}